<%% content_for :content_header  do %>
  <section class="content-header">
    <h1>
      <%%=t('views.edit')%> <small><%%= link_to t('views.show'),<%=singular_table_name %>_path %></small>
      </h1>

      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> <%%=t('views.home') %></a></li>
        <li><%%= link_to t('activerecord.models.<%= singular_table_name%>'), <%= plural_table_name %>_path %></li>
        <li class="active"><%%=t('views.edit')%></li>
      </ol>
  </section>
<%% end %>

<%%= render 'form' %>
