//全局css
html{
  font-size: 18px;
}
ul{
  list-style: none;
  padding: 0;
}
.m-l-xs{
  margin-left: 3px;
}
.m-l-s{
  margin-left: 8px;
}
.m-l-m{
  margin-left: 15px!important;
}
.m-r-s{
  margin-right: 8px!important;
}
.m-r-m{
  margin-right: 15px;
}
.m-r-l{
  margin-right: 30px;
}
.m-t-s{
  margin-top: 8px;
}
.m-t-m{
  margin-top: 15px;
}
.m-t-l{
  margin-top: 30px;
}
.bg-error{
  background-color: #d9534f;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-default{
  color: #666;
}
.text-error{
  color: #d9534f;
}
.text-primary{
  color: #337ab7;
}
.bold{
  font-weight: bold;
}
.relative{
  position: relative;
}
table{
  td,th{
    text-align: center;
  }
}
.choice-package td{
  vertical-align: middle!important;
}
.caption{
  font-size: 1.2rem;
  color: #777;
  padding: 8px 0;
  text-align: center;
}

//表单提示信息
.form-error{
  color: #d9534f;
  font-size: .8rem;
  display: none;
}
//登录注册
.login-page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('/img/blur-background09.jpg') no-repeat;
  background-size: cover;
}
.login-box{
  width: 400px;
  margin: 12% auto 0;
  .login-logo{
    a{
      color: #fff;
    }
    font-size: 30px;
    text-align: center;
    font-weight: 300;
  }
  .login-box-body{
    background-color: #fff;
    padding: 20px;
  }
}
//面包屑导航
.content-header .breadcrumb > li{
  font-size: .9rem;
}
//home
.overview{
  display: flex;
  justify-content: space-around;
  align-items: center;
  .left,.right{
    text-align: center;
    padding: 80px 0;
    flex: 0 1 48%;
    font-size: 30px;
    border: 1px solid #ccc;
  }
}
.remind{
  li{
    .badge{
      margin-left: 5px;
    }
  }
}
a.has-card{
  color: #000;
  cursor: default;
}
a.has-card:hover{
  color: #000;
}
a.handle-card{
  color: #337ab7;
}
[data-am-dropdown]{
  width: 100%;
}
.handle-card:hover{
  color: #337ab7;
}
.right-side{
  padding: 15px;
}
.member-item{
  display: none;
}
.member-step{
  margin-top: 50px;
  margin-bottom: 15px;
  text-align: center;
  .btn{
    margin-right: 10px;
  }
}

.create-family{
  text-align: center;
}
//进度条样式
.ystep-container-steps>li{
  text-align: left;
}

.pay {
  .tab-pane{
    text-align: center;
    img{
      width: 20%;
    }
  }
  .pay-button{
    text-align: center;
    .btn{
      width: 10%;
    }
  }
}

.agreement .fa-print{
  font-size: 20px;
  float: right;
  margin-top: 5px;
  cursor: pointer;
}

.bind-device{
  .divice-number{
    text-align: center;
    padding: 50px 0;
    border: 1px solid #ccc;
    font-size: 1.2rem;
  }
}
.choice-package,.dietary{
  position: relative;
  .see-score{
    border: none;
    cursor: pointer;
    color: #337ab7;
    font-size: .9rem;
  }
  .score-proposal{
    width: 55%;
    height: auto;
    position: absolute;
    left: 120%;
    top: 60px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: left 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    .title{
      padding: 15px 0;
      font-weight: bold;
      text-align: center;
    }
    .item{
      padding: 15px 0;
      text-indent: 2em;
      .name{
        font-size: .9rem;
        color: #f00;
      }
      .content{
        padding: 0;
      }
    }
  }
  #score_radar{
    width: 400px;
    height: 300px;
    margin: 0 auto;
  }
  .glyphicon-eye-open{
    display: inline-block;
  }
  .glyphicon-eye-close{
    display: none;
  }
}
.fixed_packages{
  overflow: hidden;
}
.choice-package{
  #fixed-package input[name="package"]{
    display: none;
  }
  #fixed-package .add, #fixed-package .reduce{
    display: none;
  }

}
.package-content{
  padding: 0 15px 15px 15px;
  border: 1px solid #ccc;
  min-height: 100px;
  .title{
    width: 20%;
    padding: 10px 0;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
  }
  .list{
    li{
      padding-top: 8px;
      padding-bottom: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #666;
      input[name="package"]{
        margin-right: 8px;
      }
      .count{
        margin: 0 8px;
        text-align: center;
      }
      .add,.reduce{
        display: inline-block;
        width: 20px;
        height: 20px;
        text-align: center;
        font-size: .4rem;
        line-height: 16px;
        border-radius: 50%;
        border: 1px solid #ccc;
        cursor: pointer;
      }
      .add{
        color: #0f0;
        border-color: #0f0;
      }
      .reduce{
        color: #f00;
        border-color: #f00;
      }
    }
    .name{
      display: inline-block;
      width: 30%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

  }
}
.active.choice-package,.active.dietary{
  .glyphicon-eye-open{
    display: none;
  }
  .glyphicon-eye-close{
    display: inline-block;
  }
  .score-proposal{
    position: absolute;
    left: 45%;
  }
}
//课程
.curriculum-list{
  .curriculum-status{
    color: #72afd2;
    cursor: pointer;
  }
  .curriculum-status[data-status="0"]{
    color: #666;
  }
  .curriculum-status[data-status="1"]{
    color: #000;
  }
  .curriculum-status[data-status="2"]{
    color: #5cb85c;
  }
  .curriculum-status[data-status="3"]{
    color: #f00;
  }
  .modal-body{
    .url,.code{
      font-size: 1.2rem;
      >span{
        display: inline-block;
        width: 100px;
        margin-right: 10px;
        font-size: 1rem;
      }
    }
  }
}
.bgc{
   background-color: #adfffa;
 }
.plan-result td{
  padding: 30px 5px!important;
}
.family-assessment,.adl{
  .desc{
    padding-left: 10px;
    text-align: left;
    font-size: .7rem;
  }
  caption{
    text-align: center;
    font-size: 1.2rem;
  }
  table{
    .title{
      font-weight: 500;
    }
  }
  tr td.number-td{
    width: 30px;
  }
  tr td.checkbox-td{
    width: 60px;
  }
  tr td.content-td{
    text-align: left;
    padding-left: 10px;
  }
}
//南京市老年人评估报表
.assessment-report{
  caption{
    text-align: center;
    font-size: 1.2rem;
  }
  .m-l-m{
    margin-left: 5px!important;
  }
  .m-r-s{
    margin-right:7px!important;
  }
  .table tbody tr td{
    vertical-align: middle;
  }
  p span{
    margin-left: 8px;
    margin-right: 13px;
  }
  input[type='checkbox']{
    margin-top: 0;
    vertical-align: middle;
  }
}
// 课程
.curriculum-list,.inspect{
  .next-week ul{
    padding: 0;
    li{
      position: relative;
      border: 1px solid transparent;
      color: #3c8dbc;
      cursor: pointer;
      i.fa-times{
        display: none;
        font-size: 1rem;
        color: #f00;
        position: absolute;
        right: -0.3rem;
        top: -0.5rem;
        cursor: pointer;
      }
    }
    li:hover{
      border-color: #ccc;
      i.fa-times{
        display: block;
      }
    }
  }
  .add{
    i{
      cursor: pointer;
      font-size: 1.2rem;
    }
  }
  .this-week td .add{
    display: none;
  }
}

.sas{
  padding-top: 15px;
  .item{
    padding:15px 0px 15px 15px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    .title{
      margin-bottom: 10px;
    }
    li{
      margin-bottom: 4px;
      label{
        font-weight: normal;
        cursor: pointer;
      }
    }
  }
}

.inspect{
  .next-week{
    li{
      position: relative;
      padding: 5px 0;
      color: #3c8dbc;
      border: 1px solid transparent;
      cursor: pointer;
      .check-li{
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255,174,255,.4);
        .fa{
          display: none;
          color: #f00;
          font-size: 1rem;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
    li:hover{
      border-color: #ccc;
    }
    .curriculum li:hover{
      border-color: rgba(255,174,255,1);
    }
    li.active {
      color: #666;
      .check-li{
        display: block;
      }
    }
    .curriculum .add,.curriculum .fa-times,.medicine .fa-times,.task .fa-times{
      display: none;
    }
    // +号位置
    // .body td[data-time]{
    //   position: relative;
    //   .add{
    //     position: absolute;
    //     bottom: 15px;
    //     width: 100%;
    //   }
    // }
  }
  .threshold_value{
    .title{
      font-size: 1rem;
      text-align: right;
    }
    .relative{
      padding-bottom: 30px;
    }
    .min,.max{
      font-size: .9rem;
      margin-top: 5px;
    }
    .min{
      float: left;
      margin-left: 15px;
    }
    .max{
      float: right;
      margin-right: 15px;
    }
  }
  .diet li{
    span{
      white-space: nowrap;
      margin-right: 8px;
    }
    span.title{
      // font-weight: bold;
      color: #5cb85c;
    }
  }
  .lunch{
    color: #ffaeff;
  }
  .has_finish{
    color: #5cb85c!important;
  }
  .has_finish:hover{
    border-color: #5cb85c!important;
  }
  .not_finish{
    color: #5bc0de!important;
  }
  .not_finish:hover{
    border-color: #5bc0de!important;
  }
  tbody .bgc{
    background-color: #adfffa;
  }
  .medicine li>.medicine-name{
    color: #337ab7!important;
  }
  .medicine li>.medicine-time{
    color: #666!important;
  }
  .medicine li:hover{
    border-color: #337ab7!important;
  }
  li:hover .fa-times{
    display: none!important;    //隐藏删除图标
  }
  .diet .has_diet .add{
    display: none;
  }

  #member_service_modal .members{
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ccc;
    padding: 15px 0;
    .item{
      cursor: pointer;
      padding-left: 15px;
      input{
        margin-right: 10px;
        width: 20px;
        height: 20px;
      }
      span{
        position: relative;
        top: -5px;
      }
    }
  }

}


// 员工分组
.staff-group{
  .item{
    border: 1px solid #ccc;
    .title{
      padding: 10px 0px 10px 10px;
      border-bottom: 1px solid #ccc;
      .group-name{
        font-size: 1rem;
        font-weight: bold;
      }
      .glyphicon{
        color: #337ab7;
      }
    }
    .list{
      height: 200px;
      overflow: auto;
      li{
        padding: 5px 0;
        padding-left: 10px;
        cursor: move;
        .name{
          display: inline-block;
          min-width: 80px;
        }
      }
      li:hover,li.active{
        background-color: #eee;
      }
    }
  }
}

// 套餐
.packages,.tasks{
  #all-services,#checked-services{
    height: 300px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 15px 0;
    li{
      padding: 3px 0 3px 15px;
      cursor: pointer;
      input[type="checkbox"]{
        margin-right: 5px;
      }
    }
  }
  #checked-services{
    li{
      position: relative;
      .fa-times{
        color: #f00;
        float: right;
        font-size: 1rem;
        margin-right: 15px;
      }
    }
    li.active,li:hover{
      background-color: #ccc;
    }
  }
}
.adl{
  font-size: .85rem;
  .check-item{
    div{
      cursor: pointer;
    }
    div:first-child{
      cursor: default;
    }
    margin-bottom: 8px;
    .col-sm-3{
      margin-top: 5px;
      text-align: center;
    }
  }
  .check-item:after{
    content: '';
    display: block;
    width: 99%;
    padding-top: 10px;
    border-bottom: 1px dashed #ccc;
  }
  .check-item input{
    margin-right: 5px;
    position: relative;
    top: -2px;
  }
  .sleep,.psychology,.diet,._adl,.sport,.medical-history{
    text-align: left;
    padding-left: 15px;
  }
  .picky,.nutrition{
    display: none;
  }
  table.score td{
    text-align: center;
  }
}
.edit-span{
  display: inline-block;
  min-width: 50px;
  border-bottom: 1px solid #ccc;
  outline: none;
}
.physical table td{
  vertical-align: middle!important;
}
.physical .text-left{
  padding-left: 15px;
}
.physical .edit-span{
  text-align: center!important;
}

// 安排膳食
.dietary{
  overflow: hidden;
  #add-diet-modal ul{
    max-height: 300px;
    overflow-y: auto;
  }
  #add-diet-modal li{
    padding: 5px 0;
    cursor: pointer;
    font-size: .9rem;
  }
  .add-diet{
    margin-left: 15px;
  }
  #add-diet-modal input[name="diet"]{
    margin-right: 15px;
  }
  .item{
    padding: 3px 5px;
    border: 1px solid #5cb85c;
    position: relative;
    margin-right: 8px;
    .fa{
      position: absolute;
      right: -7px;
      top: -9px;
      color: #f00;
      font-size: .9rem;
      cursor: pointer;
    }
  }
  .hide-diet{
    position: absolute;
    z-index: -99;
  }
}
.active.dietary{
min-height: 1300px;
}
.dietary td{
  .item{
    border: none;
    white-space: nowrap;
  }
}
.pressure-buttons{
  position: absolute;
  left: 15px;
  top: 5px;
  width: 100%;
  text-align: center;
  span{
    color: #ccc;
  }
  span.active,span:hover{
    color: #f00;
  }
  span{
    margin-right: 10px;
    position: relative;
    z-index: 999;
    cursor: pointer;
  }
}

//添加任务
#assignment_pharmaceutical{
  height: auto;
  max-height: 300px;
  overflow-y: auto;
  >div{
    cursor: pointer;
    padding: 5px 10px;
    input{
      margin-right: 15px;
    }
  }
}

// 地图
.maps{
  .title{
    img{
      width: 20px;
    }
  }
}
.BMap_bubble_content{
  a{
    color: #000;
    div{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

// 二维码
.qr_code{
  position: fixed;
  right: 50px;
  bottom: 100px;
  ul{
    border-bottom: 1px solid #ccc;
    background-color: #fff;
  }
  li.item{
    position: relative;
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-bottom: none;
    cursor: pointer;
    img.qr_img{
      display: none;
      width: 160px;
      position: absolute;
      right: 100%;
      margin-right: 5px;
      top: -70px;
    }
  }
  li.item:hover{
    background-color: #ddd;
    img.qr_img{
      display: inline-block;
    }
  }
}

// 富文本高度
#cke_1_contents{
  min-height: 500px;
}
// 多选框组件
.choice-box{
  margin-bottom: 15px;
  .all-options,.choiced{
    height: 305px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 15px 0;
    li{
      padding: 3px 0 3px 15px;
      cursor: pointer;
      input[type="checkbox"]{
        margin-right: 5px;
      }
    }
  }
  .choiced{
    li{
      position: relative;
      .fa-times{
        color: #f00;
        float: right;
        font-size: 1rem;
        margin-right: 15px;
      }
    }
    li.active,li:hover{
      background-color: #ccc;
    }
  }
}
//上传药品图片
.medicines{
  .upload-imgs{
    .images,.btn{
      display: inline-block;
      width: auto;
    }
    .images{
      .item{
        display: inline-block;
        position: relative;
        margin-right: 10px;
        margin-bottom: 10px;
        img{
          width: 100px;
          height: 100px;
        }
        .delete{
          display: none;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          text-align: center;
          background-color: rgba(0, 0, 0, .3);
          i.fa-trash{
            position: absolute;
            right: 35px;
            top: 35px;
            font-size: 30px;
            color: #f00;
            cursor: pointer;
          }
        }
      }
      .item:hover .delete{
        display: block;
      }
    }
    span.btn{
      width: 100px;
      height: 100px;
      font-size: 60px;
      border: 1px solid #ccc;
      vertical-align: middle;
      line-height: 80px;
    }
  }
}
//上传病历图片
.invoice{
  .upload-imgs{
    .images,.btn{
      display: inline-block;
      width: auto;
    }
    .images{
      .item{
        display: inline-block;
        position: relative;
        margin-right: 10px;
        margin-bottom: 10px;
        img{
          width: 100px;
          height: 100px;
        }
        .delete{
          display: none;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          text-align: center;
          background-color: rgba(0, 0, 0, .3);
          i.fa-trash{
            position: absolute;
            right: 35px;
            top: 35px;
            font-size: 30px;
            color: #f00;
            cursor: pointer;
          }
        }
      }
      .item:hover .delete{
        display: block;
      }
    }
    span.btn{
      width: 100px;
      height: 100px;
      font-size: 60px;
      border: 1px solid #ccc;
      vertical-align: middle;
      line-height: 80px;
    }
  }
}

// 添加药品样式
.pharmaceuticals,.medicines{
  .shape-content,.color-content{
    background-color: #ccc;
    border: 1px solid #ccc;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    .item,i{
      flex: auto;
      cursor: pointer;
      overflow: hidden;
    }
    img{
      width: 30px;
      position: relative;
      left: 0;
    }
    .item.active{
      img{
        left: -30px;
        -webkit-filter:drop-shadow(30px 0 0px #fff);
        filter:drop-shadow( 30px 0 0px #fff);
      }
    }
    .item.active:after{
      content: '';
      display: block;
      width: 30px;
      margin-top: 5px;
      border: 1px solid #f00;
    }
  }
  .color-content{
    i{
      border-radius: 4px;
      text-align: center;
      line-height: 25px;
      font-size: 1rem;
      color: transparent;
      margin-right: 15px;
    }
    i.active{
      color: #f00;
    }
  }
}
