//全局css
html{
  font-size: 18px;
}
ul{
  list-style: none;
  padding: 0;
}
.m-l-xs{
  margin-left: 3px;
}
.m-l-s{
  margin-left: 8px;
}
.m-l-m{
  margin-left: 15px!important;
}
.m-r-s{
  margin-right: 8px!important;
}
.m-r-m{
  margin-right: 15px;
}
.m-r-l{
  margin-right: 30px;
}
.m-t-s{
  margin-top: 8px;
}
.m-t-m{
  margin-top: 15px;
}
.m-t-l{
  margin-top: 30px;
}
.bg-error{
  background-color: #d9534f;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-default{
  color: #666;
}
.text-error{
  color: #d9534f;
}
.text-primary{
  color: #337ab7;
}
.bold{
  font-weight: bold;
}
.relative{
  position: relative;
}
table{
  td,th{
    text-align: center;
  }
}
.choice-package td{
  vertical-align: middle!important;
}
.caption{
  font-size: 1.2rem;
  color: #777;
  padding: 8px 0;
  text-align: center;
}

//表单提示信息
.form-error{
  color: #d9534f;
  font-size: .8rem;
  display: none;
}
//登录注册
.login-page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('/img/blur-background09.jpg') no-repeat;
  background-size: cover;
}
.login-box{
  width: 400px;
  margin: 12% auto 0;
  .login-logo{
    a{
      color: #fff;
    }
    font-size: 30px;
    text-align: center;
    font-weight: 300;
  }
  .login-box-body{
    background-color: #fff;
    padding: 20px;
  }
}
//面包屑导航
.content-header .breadcrumb > li{
  font-size: .9rem;
}
